@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Poppins:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

.search-box {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%,-50%);
    background: black;
    height: 47px;
    border-radius: 50px;
    padding: 1px;
  }
  
  .search-btn {
    color: white;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
  }
  
  
  .fa-search {
    background: black;
    font-size: 19px;
  }
  
  .search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 17px;
    transition: 0.4s;
    line-height: 50px;
    width: 0;
  }
  
  .search-box:hover > .search-input {
    width: 250px;
    padding: 0 7px;
  }
  
  .txt h2{
    color: white;
    font-family: serif;
    top:  324px;
    position: absolute;
    left: 153px;
    font-size: 48px;
   
  }
  .txt h6{
    color: white;
    font-family: 'Manrope', sans-serif;
    top:  444px;
    position: absolute;
    left: 158px;
    font-size: 21px;
   
  }
  .msg h2{
    color: rgb(0, 0, 0);
    font-family: serif;
    margin-top:  204px;
    position: relative;
    margin-left: 1px;
    font-size: 48px;
   
  }
  .button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1px 5px;
    cursor: pointer;
    
  }
  .button4 {
    border-radius: 20px;}
 .vn{
  margin-top: 94px;
  position: relative;
 }
 .nx h5{
  margin: 39px   12px;
  position: relative;
  font-size: 28px;
  font-family: serif;
 }
 .nx h6{
   margin: 39px   12px;
  font-size: 23px;
  font-family: 'Manrope', sans-serif;
 }



  @media only screen and (max-width: 600px) {
  
  .search-box {
    position: absolute;
    top: 15%;
    left: 48%;
    transform: translate(-38%,-50%);
    background: black;
    height: 33px;
    border-radius: 50px;
    padding: 1px;
  }
  
  .search-btn {
    color: white;
    float: right;
    width: 30px;
    height:30px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: 2s;
  }
  
  
  .fa-search {
    background: black;
    font-size: 14px;
  }
  
  .search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 15px;
    transition: 0.4s;
    line-height: 30px;
    width: 0;
  }
  
  .search-box:hover > .search-input {
    width: 200px;
    padding: 0 3px;
  }
  
}
.blog{
  
 padding-left: 324px;
 padding-top: 155px;
 position: relative;
 
}

.blog h4{
  font-size: 47px;
  font-family: serif;
}
.blog p{
  font-size: 19px;
 
}

.qt{
  padding-left: 244px;
  
}
.bt{
  padding-left: 134px;
  
}
.ft{
  padding-left: 174px;
  
}
.bw{
  padding-left: 4px;
  
}
.bx{
  padding-left: 4px;
  
}

.bx .button{
  width: 120px;
}
.bt .button{
  width: 120px;
}
.cel{
  position: relative;
  padding-top: 100px;
  
}
.mel{
  position: relative;
  padding-top: 150px;
  
}
.log h4{
  font-size: 47px;
  font-family: serif;
}
.log p{
  font-size: 19px;
 
}
.by{
  padding-left: 423px;
 
  
}
.by .button{
  width: 100px;
}
.log{
  
  padding-left: 244px;
  padding-top: 85px;
  position: relative;
  
 }
 .fot{
  padding-top: 105px;
 }

 .mot{
  padding-top: 155px;
 }
 .home h2{
  
  font-family: serif;
  padding-left: 84px;
  padding-top: 225px;
  position: relative;
  
  font-size: 38px;
 
}
.down{
  padding-top: 106px;
}
.flip{
  padding-top: 106px;
}
.flot{
  padding-top: 106px;

position: relative;
}
.od{
  padding-top: 116px;

position: relative; 
}

.ev{
  padding-top: 106px;

position: relative; 
}
.vm{
  padding-top: 46px;

position: relative; 
}
.ind h2{
  
  font-family: serif;
  padding-left: 84px;
  padding-top: 125px;
  position: relative;
  
  font-size: 38px;
 
}
.lot h2{
  
  font-family: serif;
  padding-left: 134px;
  padding-top: 45px;
  position: relative;
  
  font-size: 25px;
 
}
.kermac h4{
  
  font-family: serif;
  padding-left: 454px;
  padding-top: 45px;
  position: relative;
  
  font-size: 35px;
 
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 9px;
}
tr:nth-child(even) {background-color: #e1e1e1;}
.acd{
  padding-top: 13px;
}
.got{
  padding-top: 123px;
}
@media only screen and (max-width: 600px) {
  .blog{
  
    padding-left: 7px;
    padding-top: 5px;
    position: relative;
    
   }
   .blog h4{
    font-size: 37px;
    font-family: serif;
  }
  .blog p{
    font-size: 15px;
   
  }
  .bt{
    padding-left: 84px;
    
  }
  .bt .button{
    width: 89px;
  
  }
  .cel{
    position: relative;
    padding-top: 40px;
  }
  .log{
  
    padding-left: 7px;
    padding-top: 123px;
    position: relative;
    
   }
   .log h4{
    font-size: 37px;
    font-family: serif;
  }
 
  .by{
    padding-left: 154px;
    
  }
  .by .button{
    width: 109px;
  
  }
  .fot{
    padding-top: 55px;
   }
  
   .mot{
    padding-top: 55px;
   }
     
  .txt h2{
    color: white;
    font-family: serif;
    top:  160px;
    position: absolute;
    left: 63px;
    font-size: 22px;
   
  }
  .txt h6{
    color: white;
    font-family: 'Manrope', sans-serif;
    top:  214px;
    position: absolute;
    left: 64px;
    font-size: 14px;
   
  }
  .home h2{
  
    font-family: serif;
    padding-left: 34px;
    padding-top: 155px;
    position: relative;
    
    font-size: 38px;
   
  }
  .od{
    padding-top: 56px;
  
  position: relative; 
  }
  .max{
    padding-top: 56px;
  
  position: relative; 
  }
  .ev{
    padding-top: 36px;
  
  position: relative; 
  }
  .lot h2{
  
    font-family: serif;
    padding-left: 34px;
    padding-top: 45px;
    position: relative;
    
    font-size: 20px;
   
  }
  .ft{
    padding-left: 114px;
    
  }
  .qt{
    padding-left: 104px;
    
  }
  .font{
    padding-left: 68px;
  }
  .float{
    padding-left: 68px;
  }
  .flax{
    position: relative;
    width: 320px;
  }
  .flot{
    padding-top: 22px;
    position: absolute;
  }
}
.grad{
  padding-top: 63px;
  position: relative;
 }


 .flot{
  padding-top: 0px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  
 
  .flot{
    padding-top: 12px;
    position: relative;
  }
  .cd{
    padding-top: 23px;
  }
}

.icon {
  font-size: 25px;
  color: rgb(51, 51, 51);
  float: left;
  position: relative;
  top: 10px;
}

.content {
  margin-top: 14px;
  margin-left: 50px;
  font-size: 14px;
}
.icon2 {
  font-size: 25px;
  color: rgb(51, 51, 51);
  float: left;
  position: relative;
  top: 10px;
}

.content2 {
  margin-top: 14px;
  margin-left: 50px;
  font-size: 14px;
}
.content2 h5 {

  font-size: 19px;
}
.content h5 {

  font-size: 19px;
}


.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 90px;
}

.sidenav a {
  padding: 12px 5px 8px 20px;
  text-decoration: none;
  font-size: 15px;
  color: #7c7c7c;
  display: block;
}

.sidenav a:hover {
  color: #424242;
}

.main {
  margin-left: 160px; 
  font-size: 16px; 
  padding: 7F5px 110px; 

}

@media   screen and  (min-width: 450px) {
  .sidenav {padding-top: 75px; }
  .sidenav a {font-size: 14px;}

  }

 


.iconx{
  font-size: 25px;
  color: rgb(231, 19, 19);
  float: left;
  position: relative;
  top: 10px;
}

.contentx {
  margin-top: 14px;
  margin-left: 35px;
  font-size: 14px;
}
.icony{
  font-size: 25px;
  color: rgb(93, 0, 255);
  float: left;
  position: relative;
  top: 10px;
}

.contenty {
  margin-top: 14px;
  margin-left: 35px;
  font-size: 14px;
}